*.class

*.db

# Package Files #
*.war
*.ear

meetingDataExchangeServer/upload/2/test2.txt
meetingDataExchangeServer/data/mde.db
meetingDataExchangeServer/data/mde.db
meetingDataExchangeServer/data/mde.db
